# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Next.js
/.next/
/out/

# Env
.env*.local
.env

# Misc
.DS_Store
*.pem
/coverage
/.nyc_output

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
